<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">


    <localRepository>D:\Local Maven Repo - New\repository</localRepository>
         

  <servers>
  
    <server>
      <id>deployer-spectre</id>
      <username>~~~Client~~~</username>
      <password>4c97b3b5574e420781b12b732d5f6962~?~E29aCA6DfE104E04B61751fAbAd2687E</password>
    </server>
  </servers>

  <profiles>
     <profile>
         <id>Mule</id>
         <activation>
             <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
             <repository>
                 <id>mulesoft-releases</id>
                 <name>MuleSoft Repository</name>
                 <url>https://repository.mulesoft.org/releases/</url>
                 <layout>default</layout>
             </repository>
         </repositories>
     </profile>

      <profile>

     <id>archetype-repository</id>

     <repositories>

       <repository>

         <id>archetype</id>

         <name>Mule Repository</name>

         <url>https://repository-master.mulesoft.org/nexus/content/repositories/public</url>

         <releases>

           <enabled>true</enabled>

           <checksumPolicy>fail</checksumPolicy>

         </releases>

         <snapshots>

           <enabled>true</enabled>

           <checksumPolicy>warn</checksumPolicy>

         </snapshots>

       </repository>

     </repositories>

   </profile>

 </profiles>
</settings>




